[submodule "1-214397eb320ecac0"]
	path = 1-214397eb320ecac0
	url = git@github.com:SamuelAraag/3305547ecfde2d2f-2.0.git
[submodule "proxy"]
	path = 00-proxy
	url = git@github.com:SamuelAraag/proxy.git
[submodule "2-ff4854dfba3b3193"]
	path = 2-ff4854dfba3b3193
	url = git@github.com:SamuelAraag/patrimonio.git
[submodule "3-560eeb0fd4543ba4"]
	path = 3-560eeb0fd4543ba4
	url = git@github.com:SamuelAraag/emagrecimento.git
